@use "global" as *;

.overview {

  margin-top: rem(71);

  @include mq(md) {
    margin-top: rem(226);
    
  }

  &__image {
    aspect-ratio: 16 / 9;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

